extends layout.pug

block content

	h1 Books in Library
	p
		a.button#new-book-btn(href='/books/new') Create New Book
	form(method='get', action='/books/search')
		input#searchbutton(type='submit', value='Search')
		input#searchbar(name='q', type='text', placeholder='search titles, authors, genre, or year...')

	table#book-list-table
		thead
			tr
				th Title
				th Author
				th Genre
				th Year
		tbody
			each book in books
				tr
					td
						a(href=`/books/${book.id}`)= book.title
					td= book.author
					td= book.genre
					td= book.year
	if(pages <= 1 || home === true)
		a(class="button" href="/") Back
	
	if(pages >= 2)
		ul.pagination
			- var number = 1
			while number <= pages
				a(href=`/books/?page=${number-1}`)
					li.pagelink-style= number++